@model CaringSquareApp.Models.SocialEvent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<div class="container">
    <h2>Details</h2>

    <div id="element">
        <h4>SocialEvent</h4>
        <hr />
        <dl class="dl-horizontal" id="detailslist">
            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EventTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EventTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.POIs.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.POIs.Name, new { id = "PlaceName" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.POIs.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.POIs.Address, new { id = "PlaceAddress" })
            </dd>

        </dl>
    </div>

    <div>
        <a href="/SocialEvents/Send_Email" id="share-event" style="background-color: #94d16a; margin-left:10px;">Share Event with Friend</a>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


</div>

<script>

    function init() {
            document.getElementById('share-event').addEventListener('click', event => {
                event.preventDefault();

                const dd = [...document.querySelectorAll('dl')].map(el => el.textContent).filter(Boolean).map(s => s.trim());

                console.log(dd);

                localStorage.setItem('__pageCache', JSON.stringify(dd));

                document.location.href = event.target.getAttribute('href')
            });
    }

    window.addEventListener('DOMContentLoaded', event => {
        init();
    });

</script>
<script src="jquery.js"></script>
<script src="html2canvas.min.js"></script>
<script src="canvas2image.js"></script>
<script>
    var tempElement = $('#element').get(0);
    var lebar = "600";
    var tinggi = "400";
    var type = "png";
    var fileName = "htmltoimage";
    html2canvas(tempElement).then(function (canvas) {
        var canWidth = canvas.width;
        var canHeight = canvas.height;
        var img = Canvas2Image.convertToImage(canvas, canWidth, canHeight);
        $('#preview').after(img);
        Canvas2Image.saveAsImage(canvas, lebar, tinggi, type, fileName);

    });

</script>
