@model CaringSquareApp.Models.SocialEvent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal" style="font-weight: bold;margin-right:80px;">
        <h2 id="freshtitle">Edit Social Event</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventId)

        <div class="form-group">
            @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row" style="padding:0px 15px">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EventDate, htmlAttributes: new { @class = "control-label col-md-10", style = "padding:0px" })
                    @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control", id = "datepicker1" } })
                    @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.EventTime, htmlAttributes: new { @class = "control-label col-md-10", style = "padding:0px" })
                    @Html.EditorFor(model => model.EventTime, new { htmlAttributes = new { @class = "form-control", id = "timepicker1" } })
                    @Html.ValidationMessageFor(model => model.EventTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

   

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.UserUserId, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserUserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.POIPlaceId, "Place Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("POIPlaceId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.POIPlaceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="background-color:#94d16a;font-weight:bold;color:#000000" type="submit" id="buttonedit" class="btn btn-default" value="Save Changes" />
                <br /><br />
            </div>
        </div>
    </div>
    }

    <div>
        <a href="/POIs" class="btn btn-default" style="color:#010483;background-color: #f7f7f7;border-color:#000000; margin-left:10px;margin-right:10px;font-weight:bold;">Explore Places</a>
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn", @style = "color:#010483;background-color: #f7f7f7; border-color:#000000;font-weight:bold;" })
    </div>

</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>
        window.onload = function () {


            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var end = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            $('#datepicker1').datepicker({
                format: "mm/dd/yyyy",
                todayHighlight: true,
                startDate: today,
                endDate: end,
                minDate: 0,
                autoclose: true
            });

            $('#datepicker1').datepicker('setDate', today);

            $('#timepicker1').timepicker({
                timeFormat: "h:i A",
                step: 60,
                minTime: '6',
                maxTime: '11:00pm',
                'forceRoundTime': false

            });


        }
    </script>
